USE [Overnight-Guestlists]
GO
/****** Object:  Table [dbo].[O1_State_and_Division]    Script Date: 02-Mar-26 12:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O1_State_and_Division](
	[SD_code] [varchar](50) NOT NULL,
	[SD_name] [varchar](50) NULL,
 CONSTRAINT [PK_State_and_Division] PRIMARY KEY CLUSTERED 
(
	[SD_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[O2_Township]    Script Date: 02-Mar-26 12:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O2_Township](
	[Township_code] [varchar](50) NOT NULL,
	[Township_name] [varchar](50) NULL,
	[SD_code] [varchar](50) NULL,
 CONSTRAINT [PK_Township] PRIMARY KEY CLUSTERED 
(
	[Township_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[O3_Ward]    Script Date: 02-Mar-26 12:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O3_Ward](
	[Ward_code] [varchar](50) NOT NULL,
	[Ward_Name] [varchar](50) NULL,
	[Township_code] [varchar](50) NULL,
 CONSTRAINT [PK_Ward] PRIMARY KEY CLUSTERED 
(
	[Ward_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[O4_Street]    Script Date: 02-Mar-26 12:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O4_Street](
	[Street_code] [varchar](50) NOT NULL,
	[Street_Name] [varchar](50) NULL,
	[Ward_code] [varchar](50) NULL,
 CONSTRAINT [PK_Street] PRIMARY KEY CLUSTERED 
(
	[Street_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[O5_House]    Script Date: 02-Mar-26 12:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O5_House](
	[House_No] [varchar](50) NOT NULL,
	[Owner_name] [varchar](50) NULL,
	[Owner_NRC] [varchar](50) NULL,
	[Street_code] [varchar](50) NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[House_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[O6_Overnightguest_lists]    Script Date: 02-Mar-26 12:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O6_Overnightguest_lists](
	[House_No] [varchar](50) NULL,
	[ONGLno] [varchar](50) NOT NULL,
	[Apply_Date] [datetime] NULL,
	[Startdate] [datetime] NULL,
	[Enddate] [datetime] NULL,
	[AdminName] [varchar](50) NULL,
 CONSTRAINT [PK_Overnightguest_lists] PRIMARY KEY CLUSTERED 
(
	[ONGLno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[O7_Visiter]    Script Date: 02-Mar-26 12:00:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O7_Visiter](
	[VisiterCode] [varchar](10) NOT NULL,
	[VisiterName] [varchar](50) NULL,
	[VisiterNRC] [varchar](50) NULL,
	[VisiterFather] [varchar](50) NULL,
	[V_DOB] [datetime] NULL,
	[Gender] [varchar](1) NULL,
	[FromLocation] [varchar](50) NULL,
	[Education] [varchar](50) NULL,
	[Race] [varchar](50) NULL,
	[Religion] [varchar](50) NULL,
	[JobStatus] [varchar](50) NULL,
	[ONGLno] [varchar](50) NULL,
 CONSTRAINT [PK_Visiter] PRIMARY KEY CLUSTERED 
(
	[VisiterCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[O2_Township]  WITH CHECK ADD  CONSTRAINT [FK_Township_State_and_Division] FOREIGN KEY([SD_code])
REFERENCES [dbo].[O1_State_and_Division] ([SD_code])
GO
ALTER TABLE [dbo].[O2_Township] CHECK CONSTRAINT [FK_Township_State_and_Division]
GO
ALTER TABLE [dbo].[O3_Ward]  WITH CHECK ADD  CONSTRAINT [FK_Ward_Township] FOREIGN KEY([Township_code])
REFERENCES [dbo].[O2_Township] ([Township_code])
GO
ALTER TABLE [dbo].[O3_Ward] CHECK CONSTRAINT [FK_Ward_Township]
GO
ALTER TABLE [dbo].[O4_Street]  WITH CHECK ADD  CONSTRAINT [FK_O4_Street_O3_Ward] FOREIGN KEY([Ward_code])
REFERENCES [dbo].[O3_Ward] ([Ward_code])
GO
ALTER TABLE [dbo].[O4_Street] CHECK CONSTRAINT [FK_O4_Street_O3_Ward]
GO
ALTER TABLE [dbo].[O5_House]  WITH CHECK ADD  CONSTRAINT [FK_O5_House_O4_Street] FOREIGN KEY([Street_code])
REFERENCES [dbo].[O4_Street] ([Street_code])
GO
ALTER TABLE [dbo].[O5_House] CHECK CONSTRAINT [FK_O5_House_O4_Street]
GO
ALTER TABLE [dbo].[O7_Visiter]  WITH CHECK ADD  CONSTRAINT [FK_Visiter_Overnightguest_lists] FOREIGN KEY([ONGLno])
REFERENCES [dbo].[O6_Overnightguest_lists] ([ONGLno])
GO
ALTER TABLE [dbo].[O7_Visiter] CHECK CONSTRAINT [FK_Visiter_Overnightguest_lists]
GO
